<section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container">
            <div class="row text-white">
                 <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                    <h3 class="display-4 py-2 text-truncate">BNY LOGIN</h3>
                    <div class="px-2">
                      <form [formGroup]="angForm" (ngSubmit)="onSubmit(angForm.value)">
                            <div class="form-group">
                                <label class="sr-only">Name</label>
                                <input type="text" class="form-control" formControlName="names">
                                <label *ngIf="angForm.get('names').touched&&angForm.get('names').invalid" [ngClass] = "'error'"  >Please enter the name</label>
                            </div>
                            <div class="form-group">
                                <label class="sr-only">Email</label>
                                <input type="number" class="form-control" formControlName="age">
                                <label *ngIf="angForm.get('age').touched&&angForm.get('age').invalid" [ngClass] = "'error'" >Please enter age</label><br>
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</section>
